.body{
    margin: 0;
    font-family: "Montserrat";
 }
 /* container */
 .first-text{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.5;
    position: relative;
    color: #fcbdc4;
    padding: 15% 10% 0 9.5%;
    margin: 0;
    
}
.second-text{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.5;
    position: relative;
    color: #ff7674;
    padding: 0 10% 5% 10%;
    margin: 0;    
}
.third-text{
    padding:0 10% 5% 10%;
    color: rgb(71, 71, 71);
    font-size: 1.1rem;
}
.health{
    margin: 0;
}


  /* features section */
  .text-heading{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}
.grey-text{
    font-family: 'Montserrat';
    color: #8f8f8f;
}
#features{
    padding: 7% 13%;
    background-color: #fff;
    z-index: 1;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 3%;
}
.big-icon{
    color: #ff7674;
    padding: 6%;
}
.big-icon:hover{
    color: #e72323;
}

 /* Sign in */
#sign-in{
    background-color: #ff7674 ;
    align-items: center;
    padding-bottom: 10%;
}
.end{
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
    padding: 10% 7% 5% 7% ;
    text-align: center;
    margin-bottom: 0;
}
.button-download-end{
    text-align: center;
    font-family: 'Montserrat';
}
.last-button{
    margin: 2% 1% ;
    padding: 10px 32px 10px 32px;
}

 /* footer */

#footer{
    text-align: center;
    margin-bottom: 0;
    padding: 50px;
}
.footer-text{
    font-family: 'Montserrat';
    color: #8f8f8f;
    text-align: center;
    margin-bottom: 0;
}
.icons-last{
    padding-top: 5%;
}
.final-icon{
    padding: 2%;
}
.last-link{
    color: #000000;
}
.last-link:hover{
    color: #e72323;
}


@media only screen and (max-width: 770px)
{
    .navbar-nav{
        background: linear-gradient(#fff, #FFCDD2 );
    }
}